/SmartSEO.suo
/SmartSEO/SmartSEO.Publish.xml

/SmartSEO/SmartSEO.csproj.user

/SmartSEO/bin/SmartSEO.pdb
/SmartSEO/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SmartSEO/bin
/SmartSEO/obj
