@{
    ViewBag.Title = "网络营销";
}
<div class="span2">
    <div class="well sidebar-nav">
        @Html.Partial("_QuickMenu")
    </div>
</div>
<div class="span10">
    <ul class="breadcrumb">
        <li><a href="@Url.Content("~/")">网络营销</a><span class="divider">/</span></li>
        <li class="active">综合概况</li>
    </ul>
    <fieldset>
        <legend>扩展工具</legend>
		<h3>1.LastPass</h3>
		<p>
			LastPass(<a href="https://lastpass.com/">主页地址</a>)是一款让您的上网浏览更便捷更安全的免费在线密码管理器和表单过滤器。LastPass以插件的形式支持IE和Firefox（Opera, Safari, Chrome, iPhone,Opera 通过书签小工具形式支持），它允许您从任何主流的密码存储器导入和导出密码，捕获其它管理器无法捕获的密码包括很多AJAX表单。它也允许您轻松地创建强大的密码。您的敏感信息在上传之前已在本地计算机上加密，因此就算是LastPass的员工也无法得到密码信息。一次性密码和屏幕键盘帮助保护您的主密码。<br />
			<a href="https://addons.mozilla.org/zh-cn/firefox/addon/lastpass-password-manager/">LastPass火狐浏览器扩展</a><br />
			<a href="https://chrome.google.com/webstore/detail/lastpass/hdokiejnpimakedhajhdlcegeplioahd?hl=zh-CN">LastPass谷歌浏览器扩展</a><br />
			<a href="https://lastpass.com/download/cdn/lastpass.exe">通用安装程序(支持 Internet Explorer 6+, Firefox 2.0+, Chrome 18+, Safari 5+, Opera 11+.)</a>
		</p>
    </fieldset>
</div>
