@{
    ViewBag.Title = "网络营销";
}
<div class="span2">
    <div class="well sidebar-nav">
        @Html.Partial("_QuickMenu")
    </div>
</div>
<div class="span10">
    <ul class="breadcrumb">
        <li><a href="@Url.Content("~/")">网络营销</a><span class="divider">/</span></li>
        <li class="active">综合概况</li>
    </ul>
    <fieldset>
        <legend>本月概况</legend>        
    </fieldset>
</div>
