@{
    Layout = null;
}
<ul class="nav nav-list">
    <li class="nav-header">常用操作</li>
    <li><a href="@Url.Content("~/CustomerAlert/Index?isRead=false")"><i class="icon-plus"></i>未读提醒</a></li>
    <li><a href="@Url.Content("~/CustomerAlert/Index?isRead=true")"><i class="icon-plus"></i>已读提醒</a></li>    
</ul>
